<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


  <h1>Edit Pokemon Page</h1>
        <form method="POST" action="/pokemon/<%=id%>?_method=PUT">
        
        Name: 
        <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
        <input type="text" name="img" value="<%=pokemon.img%>"/><br>



        <input type="submit" name="" value="Submit Changes"/>
        </form>
</body>
</html>