<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


  <h1>Edit Pokemon Page</h1>
        <form method="POST" action="/pokemon/<%=index%>?_method=PUT">
        
        Name: 
        <input type="text" name="name" value="<%=eachPokemon.name%>"/><br/>



        <input type="submit" name="" value="Submit Changes"/>
        </form>
</body>
</html>