<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%Pokemon.forEach(function(pokemon, index){%>
	<a href="/pokemon/<%=index%>">
		<%index%><%=pokemon.name%>
	</a>
<%});%>








</body>
</html>