<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css"></style>
</head>
<body>
	<ul class="pokemon">
<%Pokemon.forEach(function(pokemon, index){%>
	<a href="/pokemon/<%=index%>">
		<li><%index%><%=pokemon.name%></li>
	</a>
<%});%>
</ul>







</body>
</html>