<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css"></style>
</head>
<body>
	<ul class="pokemon">
<%Pokemon.forEach(function(pokemon, id){%>
	<a href="/pokemon/<%=id%>">
		<li><%id%><%=pokemon.name%></li>
	</a>
<%});%>
</ul>







</body>
</html>