<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' type='text/css' href='/css/main.css' >
</head>
<body>
	<ul class="pokemon">
<%Pokemon.forEach(function(pokemon, id){%>
	<a href="/pokemon/<%=id%>">
		<li><%id%><%=pokemon.name%></li>
	</a>
<%});%>
</ul>



</body>
</html>