<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' type='text/css' href='/css/main.css' >
		<link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
</head>
<body class=".show">

<h3>
Pokemon's name:<br><%=eachPokemon.name%><br>
</h3>
		<li><img src="<%=eachPokemon.img%>"</li>

<form action="/pokemon/<%=id%>/edit" method="GET" >
<button>Edit Pokemon</button>
</form>


</body>
</html>