<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' type='text/css' href='/css/main.css' >
</head>
<body>

Pokemon's name:<br><%=eachPokemon.name%><br>
<%=eachPokemon.img%>





</body>
</html>