/*.container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-auto-rows: 200px;
	grid-auto-rows: minmax(10px, auto)
	border: 1px solid black;
}*/


body {
text-align: center;
background-color: #e6ecf5;
font-family: 'Barriecito', cursive;
font-family: 'Roboto Mono', monospace;
padding: 10px;
font-size: 20px;
}

li {
	list-style: none;
	color: #e89d13;
	padding: 10px;
}


li:hover {
	color: black;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	background-color: rgb(255, 175, 10, .5);
	border-radius: 12px;
}

h3 {
	font-family: 'Shadows Into Light', cursive;
}


